body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414;
  }
  
  .container {
    text-align: center;
    background-color: #141414;
    padding: 20px;
  }
  
  h1 {
    color: #af29a9;
    margin-bottom: 20px;
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tabButton {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: #14141400;
    color: #af29a9;
    border: 1px solid #af29a9;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .tabButton.active {
    background-color: #af29a9;
    color: #fff;
  }
  
  .content {
    padding: 10px;
    min-height: 100%;
    background-color: #141414;
    border-top: 4px solid #af29a9;
    color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #af29a823;
  }
  button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #af29a9;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  button:hover {
    background-color: #af29a9;
    color: #fff;
  }

  .centered-container {
  display: flex;
  justify-content: center;
  }

.upgrades-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  font-size: min(1em, 20px);
}
  
  .click-upgrade {
    display: flex;
    justify-content: flex-start; /* Выравниваем элементы по левому краю */
    align-items: center;
    gap: 10px;
    min-height: 15px;
    color: white;
    width: 100%; /* Расширяем элементы на всю ширину контейнера */
  }
  
  .upgrade-icon {
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #454545;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .upgrade-name {
    display: flex;
    min-width: 250px;
    justify-content: left;
  }
  
  .upgrade-description {
    display: flex;
    min-width: 250px;
    justify-content: left;
  }
  
  .upgrade-button {
    width: 160px;
  }
  .upgrade-button.prestige{
    background-color: #2821ff;
  }

  .auto-button {
    background-color: rgba(0,0,0,0);
    border: 1px solid #af29a9;
    color: #af29a9;
  }
  .auto-button:hover{
    background-color: rgba(0,0,0,0);
    color: #af29a9;
  }
  .auto-button.prestige{
    color: #2821ff;
    border-color: #2821ff;
  }
  .crystal-count {
    display: flex;
    margin: 10px 0;
    font-size: 19.5px;
    color: white;
    text-align: left;
    align-items: center;
  }

  .mainupgrades {
    margin-top: 20px;
  }
  
  .mainupgrade {
    border: 1px solid #ccc;
    padding: 10px;
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .mainupgrade h3 {
    margin: 0;
  }
  .mainupgrade.crystal{
    border: 1px solid #af29a9;
  }
  .mainupgrade.prestige{
    border: 1px solid #2821ff
  }
  .bought{
    background-color: rgba(38, 221, 71, 0.5);
  }
  .mainupgrade-grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(25px, 1fr)); /* Одинаковая ширина столбцов */
    grid-template-rows: repeat(auto-fill, minmax(25px, 0.5fr)); /* Одинаковая ширина столбцов */
    grid-gap: 25px; /* Промежутки между улучшениями */
    width: 250px;
    padding: 25px;
  }
  .tooltip {
    position: absolute;
    display: none;
    padding: 3px 10px;
    margin: 0px 5px;
    max-width: 400px;
    background-color: #141414;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  /*Settings*/
  .confirmation-box {
    display: none;
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: rgba(170, 0, 162, 0.8);
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    text-align: right; /* Выравнивание по правому краю */
    z-index: 999;
  }
  
  .confirmation-box p {
    margin: 0;
  }
  .discordLink {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    background-color: #7289da; /* Цвет фона Discord */
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .discord-logo {
    width: 15px; /* Размер логотипа Discord */
    height: 10px;
    margin-right: 5px; /* Отступ между логотипом и текстом */
  }
  .patreon-logo {
    width: 13px; /* Размер логотипа Discord */
    height: 13px;
    margin-right: 5px; /* Отступ между логотипом и текстом */
  }
  label {
    padding-right: 10px;
    font-size: 1rem;
  }